.UpdateContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0%;
  left: 0%;
}

.UpdateBox {
  background-color: white;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  border: 3px solid tomato;
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
}

.UpdateBox > h2 {
  text-align: center;
  color: rgba(0, 0, 0, 0.205);
  font: 400 1.3vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid rgba(0, 0, 0, 0.205);
  width: 50%;
  margin: auto;
}

.updateForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 2vmax;
  height: 70%;
  transition: all 0.5s;
}

.updateForm > div {
  display: flex;
  width: 100%;
  align-items: center;
  height: 3.5vmax;
}

.updateForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.updateForm > div > svg {
  position: absolute;
  transform: translate(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.updateForm > div > svg:has(+ input:focus) {
  color: tomato;
}

.updateBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.updateBtn > :hover {
  background-color: rgb(179, 66, 46);
}

#updateImage {
  justify-content: space-evenly;
}

#updateImage > img {
  height: 5vmax;
  width: 5vmax;
  border-radius: 100%;
}

#updateImage > input {
  padding: 0%;
  height: 80%;
  width: 60%;
}

#updateImage > input::file-selector-button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 2;
  border: none;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
}

#updateImage > input::file-selector-button:hover {
  color: tomato;
  font-size: 1vmax;
}

@media screen and (max-width: 600px) {
  .UpdateBox {
    width: 70vw;
    height: 50vh;
  }

  .updateForm > div {
    height: 4.5vmax;
  }

  .updateForm > div > svg {
    font-size: 2vmax;
  }

  .updateForm > div > input {
    font-size: 1.5vmax;
  }

  #updateImage > img {
    height: 8vmax;
    width: 8vmax;
  }

  #updateImage > input::file-selector-button {
    font-size: 1.5vmax;
  }

  #updateImage > input::file-selector-button:hover {
    font-size: 1.8vmax;
  }

  .updateBtn {
    padding: 1.5vmax;
    font-size: 1.5vmax;
  }
}
